.channelListContainer {
  // height: 92vh;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: auto;
  background-color: #fff;
  box-shadow: 1rem 1rem 1rem 0rem rgba(0, 0, 0, 0.15);
  margin: 0 1rem;
}
